@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,600;1,700;1,800&display=swap");
.botones, .contenedor-registro-trades form section, .contenedor-educacion section .contenedor-videos > div, .contactenos form div button, .login .contenedor-login .boton-login, .registrarse form div button, footer div a img {
  transition-duration: 0.5s;
  transition-timing-function: ease-out; }

/* font-family: 'Poppins', sans-serif; */
/*-----Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*-----Estilos Generales */
body {
  font-family: 'Quicksand', sans-serif; }

.botones {
  width: min-content;
  height: 35px;
  background-color: #00ADB5;
  color: #ffffff;
  padding: 8px 10px;
  font-size: 16px;
  border: none;
  margin-top: 30px; }
  .botones:hover {
    box-shadow: 3px 3px 10px #000000;
    border-radius: 14px; }

span {
  color: #d8ba8e;
  font-weight: 700; }

/*-----HEADER*/
header nav div div ul li a:hover {
  color: #d8ba8e;
  border-bottom: 1.5px solid #d8ba8e; }

header nav div div ul li:hover {
  color: #d8ba8e; }

/*-----MAIN-INDEX*/
.contenido-principal {
  display: grid;
  grid-template-columns: 1fr 0.3fr;
  grid-template-rows: calc(100vh - 56px - 86.23px) auto;
  grid-template-areas: "hero hero" "bienvenidos noticias"; }
  .contenido-principal .hero {
    grid-area: hero;
    background-image: url("../../img/hero.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center; }
    .contenido-principal .hero div {
      width: 50%;
      height: 60%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .contenido-principal .hero div h1 {
        width: auto;
        color: #787878;
        background-color: rgba(0, 0, 0, 0.589);
        text-align: center;
        font-size: 26px;
        margin-left: 16px;
        padding: 8px; }
      .contenido-principal .hero div a {
        text-decoration: none;
        display: inline-block; }
  .contenido-principal .bienvenidos-nosotros {
    grid-area: bienvenidos;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto; }
    .contenido-principal .bienvenidos-nosotros .bienvenidos {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-top: 12px;
      margin-bottom: 24px; }
      .contenido-principal .bienvenidos-nosotros .bienvenidos div {
        width: 50%;
        text-align: center; }
        .contenido-principal .bienvenidos-nosotros .bienvenidos div h2 {
          text-align: center;
          margin-bottom: 10px;
          color: #787878;
          font-size: 22px; }
        .contenido-principal .bienvenidos-nosotros .bienvenidos div p {
          color: #787878;
          font-size: 16px; }
      .contenido-principal .bienvenidos-nosotros .bienvenidos img {
        width: 40%;
        height: 500px;
        object-fit: cover;
        border-radius: 16px; }
    .contenido-principal .bienvenidos-nosotros .nosotros {
      flex-direction: row-reverse; }
  .contenido-principal .noticias {
    grid-area: noticias;
    margin-top: 12px;
    margin-right: 12px;
    border-left: 1px solid #9e9e9e; }
    .contenido-principal .noticias h2 {
      text-align: center;
      padding: 5px 0px;
      background-color: #e4e8eb;
      color: #787878;
      font-size: 22px; }
    .contenido-principal .noticias div a {
      text-decoration: none;
      display: block;
      text-align: center;
      padding: 15px 5px 5px 5px;
      border-top: 1px solid #9e9e9e;
      font-style: oblique;
      font-size: 16px; }
    .contenido-principal .noticias div img {
      width: 100%;
      object-fit: cover; }
    .contenido-principal .noticias div p {
      padding: 10px 5px;
      color: #787878;
      font-size: 16px; }

/*-----MAIN - REGISTRO TRADES*/
.contenedor-registro-trades {
  width: 90%;
  margin: 10px auto; }
  .contenedor-registro-trades h1 {
    text-align: center;
    color: #1d1a16;
    border-top: 1px solid #9e9e9e;
    border-bottom: 1px solid #9e9e9e;
    padding: 10px 0px;
    font-size: 22px; }
  .contenedor-registro-trades form {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center; }
    .contenedor-registro-trades form section {
      width: 100%;
      margin-top: 30px;
      border: 1px solid #9e9e9e;
      border-radius: 10px;
      overflow: hidden; }
      .contenedor-registro-trades form section:hover {
        transform: translate(5px, -5px); }
      .contenedor-registro-trades form section h2 {
        width: 290px;
        margin-bottom: 12px;
        padding: 10px;
        display: inline-block;
        color: #787878;
        background-color: #e4e8eb;
        border-bottom: 1px solid #9e9e9e;
        font-size: 18px; }
      .contenedor-registro-trades form section div {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 70px; }
        .contenedor-registro-trades form section div div {
          display: flex;
          flex-direction: column;
          justify-content: start;
          align-items: center; }
          .contenedor-registro-trades form section div div label {
            margin-bottom: 4px;
            color: #787878;
            font-size: 16px;
            font-style: oblique; }
          .contenedor-registro-trades form section div div input {
            width: 100px;
            height: 25px;
            padding: 0px 4px;
            color: #787878; }
          .contenedor-registro-trades form section div div select {
            width: 100px;
            height: 25px;
            padding: 0px 4px;
            color: #787878; }
  .contenedor-registro-trades section p {
    margin: 20px 0px;
    font-size: 16px;
    color: #787878; }
  .contenedor-registro-trades section span {
    font-size: 18px;
    font-weight: bold; }

/*-----MAIN - EDUCACION*/
.contenedor-educacion {
  width: 95%;
  margin: 0 auto; }
  .contenedor-educacion h1 {
    text-align: center;
    font-size: 26px;
    margin: 16px 0;
    border-bottom: 1px solid #9e9e9e;
    color: #d8ba8e; }
  .contenedor-educacion section h2 {
    text-align: center;
    margin: 10px 0px;
    padding: 10px;
    font-size: 22px;
    font-weight: 300;
    border-top: 1px solid #9e9e9e;
    border-bottom: 1px solid #9e9e9e;
    color: #1d1a16;
    font-weight: bold; }
  .contenedor-educacion section .contenedor-videos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 300px;
    gap: 20px;
    margin-bottom: 20px;
    justify-content: center;
    align-items: start; }
    .contenedor-educacion section .contenedor-videos > div {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center;
      position: relative; }
      .contenedor-educacion section .contenedor-videos > div:hover {
        transform: scale(1.05);
        box-shadow: 8px 8px 15px #000000;
        border-radius: 25px; }
      .contenedor-educacion section .contenedor-videos > div div {
        width: 300px;
        height: 200px; }
        .contenedor-educacion section .contenedor-videos > div div .caratula {
          width: 300px;
          height: 200px;
          object-fit: cover;
          transition: 1s;
          margin-top: 12px;
          position: relative; }
          .contenedor-educacion section .contenedor-videos > div div .caratula:hover {
            border-radius: 25px; }
        .contenedor-educacion section .contenedor-videos > div div a .logo-youtube {
          position: absolute;
          top: 30%;
          left: 45%;
          transition: 1s; }
          .contenedor-educacion section .contenedor-videos > div div a .logo-youtube:hover {
            transform: scale(1.2); }
      .contenedor-educacion section .contenedor-videos > div p {
        padding: 12px;
        text-align: center;
        color: #787878;
        font-size: 16px;
        font-style: oblique; }

/*-----MAIN - CONTACTENOS*/
.contactenos .encabezado-contactenos {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 12px 0px; }
  .contactenos .encabezado-contactenos img {
    width: 300px;
    object-fit: cover; }
  .contactenos .encabezado-contactenos div {
    width: 40%;
    text-align: center; }
    .contactenos .encabezado-contactenos div h1 {
      font-weight: 900;
      font-size: 26px;
      color: #d8ba8e; }
    .contactenos .encabezado-contactenos div p {
      color: #787878;
      font-size: 16px; }

.contactenos form {
  width: 50%;
  margin: 20px auto;
  font-family: 'Quicksand', sans-serif; }
  .contactenos form div label {
    color: #787878;
    font-size: 16px; }
  .contactenos form div button:hover {
    box-shadow: 4px 4px 8px #000000; }

/*-----MAIN - LOGIN*/
.login {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100px; }
  .login .eslogan {
    margin: 15px;
    text-align: center; }
    .login .eslogan h1 {
      margin: 10px;
      font-size: 26px;
      font-weight: 900;
      font-style: italic;
      color: #1d1a16; }
    .login .eslogan h3 {
      font-size: 16px;
      font-weight: 900;
      font-style: italic;
      color: #d8ba8e; }
  .login .contenedor-login input {
    width: 200px;
    height: 25px;
    padding: 0px 12px;
    border: 1px solid #787878;
    border-radius: 12px; }
  .login .contenedor-login .boton-login {
    width: min-content;
    height: 26px;
    padding: 0px 20px;
    background-color: #00ADB5;
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    border: none;
    cursor: pointer; }
    .login .contenedor-login .boton-login:hover {
      box-shadow: 3px 3px 10px #000000; }
  .login .contenedor-login .conectado {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-top: 5px; }
    .login .contenedor-login .conectado input {
      width: 15px;
      margin-right: 8px; }
    .login .contenedor-login .conectado label {
      color: #787878;
      font-size: 16px; }

.aviso-registro {
  width: 100%;
  height: calc(100vh - 54px - 87px - 100px);
  background-image: url("../img/aviso-registro.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center; }
  .aviso-registro div {
    width: 40%;
    margin-left: 30px;
    text-align: center; }
    .aviso-registro div h2 {
      color: #787878;
      font-size: 18px;
      font-weight: 300;
      font-style: italic; }
    .aviso-registro div a {
      display: inline-block;
      text-decoration: none;
      margin-top: 30px; }

/*-----MAIN - REGISTRARSE*/
.registrarse {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center; }
  .registrarse h1 {
    width: 70%;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    margin: 30px 0px;
    color: #1d1a16;
    border-top: 1px solid #9e9e9e;
    border-bottom: 1px solid #9e9e9e;
    padding: 10px 15px; }
  .registrarse form {
    width: 40%;
    color: #787878; }
    .registrarse form div select {
      color: #787878; }
    .registrarse form div button:hover {
      box-shadow: 4px 4px 8px #000000; }

/*-----FOOTER*/
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90deg, #1d1a16 0%, #323b42 50%, #787878 100%); }
  footer ul {
    list-style: none;
    margin-left: 32px; }
    footer ul li {
      margin: 12px; }
      footer ul li a {
        text-decoration: none;
        color: #d8ba8e; }
  footer div p {
    color: #d8ba8e;
    text-align: center; }
  footer div a img:hover {
    transform: scale(1.1); }
  footer iframe {
    margin: 10px 30px; }

/*-----MEDIA QUERY*/
@media screen and (max-width: 1200px) {
  .contenedor-educacion section .contenedor-videos {
    grid-auto-rows: 300px;
    gap: 20px; }
    .contenedor-educacion section .contenedor-videos div div {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: start; }
      .contenedor-educacion section .contenedor-videos div div .caratula {
        width: 240px;
        height: 180px; }
      .contenedor-educacion section .contenedor-videos div div a .logo-youtube {
        top: 75px; }
  .registrarse form {
    width: 55%; } }

@media screen and (max-width: 1000px) {
  .contenido-principal {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80vh auto auto;
    grid-template-areas: "hero" "bienvenidos" "noticias"; }
    .contenido-principal .noticias {
      width: 60%;
      margin: 20px auto;
      border: 1px solid #9e9e9e; }
  .contenedor-educacion section .contenedor-videos {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto; }
    .contenedor-educacion section .contenedor-videos div div .caratula {
      width: 260px;
      height: 200px; }
  .contactenos .encabezado-contactenos div {
    width: 60%; }
  .contactenos form {
    width: 60%; } }

@media screen and (max-width: 800px) {
  .contenido-principal .hero {
    flex-direction: column;
    justify-content: space-evenly; }
    .contenido-principal .hero h1 {
      width: 80%;
      text-align: center;
      font-size: 22px; }
  .contactenos .encabezado-contactenos {
    flex-direction: column; }
    .contactenos .encabezado-contactenos div {
      width: 80%;
      margin-top: 16px; }
  .contactenos form {
    width: 70%; }
  .login {
    flex-direction: column; }
    .login .eslogan h1 {
      margin-bottom: 0px; }
  .aviso-registro div {
    width: 50%; }
  .registrarse form {
    width: 70%; } }

@media screen and (max-width: 700px) {
  header nav .nav-inferior {
    justify-content: center;
    height: 70px; }
    header nav .nav-inferior img {
      display: none; }
  .contenedor-educacion section .contenedor-videos {
    grid-template-columns: 350px;
    grid-auto-rows: auto; }
  .contenido-principal .bienvenidos-nosotros .bienvenidos img {
    height: 400px; } }

@media screen and (max-width: 650px) {
  header nav .nav-superior p {
    font-size: 16px; }
  header nav .nav-superior ul li {
    padding: 5px 10px; }
  header nav .nav-inferior {
    height: auto; }
    header nav .nav-inferior ul {
      flex-direction: column; }
      header nav .nav-inferior ul li {
        padding: 8px 0px; }
        header nav .nav-inferior ul li a {
          font-size: 16px; }
  .contenido-principal .bienvenidos-nosotros .bienvenidos {
    flex-direction: column; }
    .contenido-principal .bienvenidos-nosotros .bienvenidos div {
      width: 90%;
      text-align: center; }
      .contenido-principal .bienvenidos-nosotros .bienvenidos div h2 {
        margin: 48px 0px 20px 0px;
        font-size: 18px; }
      .contenido-principal .bienvenidos-nosotros .bienvenidos div p {
        margin-bottom: 20px;
        font-size: 14px; }
    .contenido-principal .bienvenidos-nosotros .bienvenidos img {
      width: 60%; }
  .contenido-principal .noticias {
    width: 70%; }
    .contenido-principal .noticias h2 {
      font-size: 18px; }
    .contenido-principal .noticias div a {
      font-size: 16px; }
    .contenido-principal .noticias div p {
      font-size: 14px; }
  .contenedor-registro-trades h1 {
    font-size: 18px; }
  .contenedor-registro-trades form section h2 {
    font-size: 16px; }
  .contenedor-registro-trades form section div div label {
    font-size: 14px; }
  .contenedor-registro-trades form section div div select {
    font-size: 14px; }
  .contenedor-registro-trades section p {
    font-size: 14px; }
  .contenedor-educacion h1 {
    font-size: 22px; }
  .contenedor-educacion section h2 {
    font-size: 18px; }
  .contactenos .encabezado-contactenos div h1 {
    font-size: 18px; }
  .contactenos .encabezado-contactenos div p {
    font-size: 14px; }
  .contactenos form div label {
    font-size: 14px; }
  .login {
    height: 200px; }
    .login .contenedor-login {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .login .contenedor-login input {
        margin-bottom: 8px; }
      .login .contenedor-login .conectado input {
        margin-bottom: 0; }
  .aviso-registro div {
    width: 70%;
    margin: 0px auto; }
    .aviso-registro div h2 {
      background-color: #e4e8eb;
      padding: 5px;
      opacity: 90%;
      font-size: 16px;
      font-weight: bold;
      border-radius: 12px 0 12px 0; }
  .registrarse h1 {
    font-size: 18px; }
  .registrarse form div label {
    font-size: 14px; }
  .registrarse form div select {
    font-size: 14px; }
  footer {
    flex-direction: column; }
    footer ul {
      margin: 10px 0px 20px 0px; }
      footer ul li {
        text-align: center; } }

@media screen and (max-width: 600px) {
  .contenedor-registro-trades h1 {
    font-size: 18px; }
  .contenedor-registro-trades form section h2 {
    font-size: 16px;
    width: 100%;
    text-align: center; }
  .contenedor-registro-trades form section div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 70px; }
  .registrarse h1 {
    width: 90%; }
  .registrarse form {
    width: 90%; } }

@media screen and (max-width: 500px) {
  .contenido-principal .hero div img {
    display: none; }
  .login .eslogan h1 {
    font-size: 22px; }
  .login .eslogan h3 {
    font-size: 16px; }
  .aviso-registro div {
    width: 90%; }
    .aviso-registro div h2 {
      font-size: 16px; } }

@media (max-height: 450px) {
  .aviso-registro {
    height: 350px; } }

@media screen and (max-width: 400px) {
  .contenedor-educacion section .contenedor-videos {
    grid-template-columns: 300px; }
  .contactenos form {
    width: 90%; } }

@media screen and (max-width: 380px) {
  header nav .nav-superior {
    justify-content: end; }
    header nav .nav-superior p {
      display: none; }
  .contenido-principal .hero div {
    width: 80%; }
  .contenedor-registro-trades form section div {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 70px; } }
