/*-----HEADER*/
header{
    nav{
       
        div{
            div{
                ul{
                    li{
                        a{
                            &:hover{
                                color: $yellow-gold;
                                border-bottom: 1.5px solid $yellow-gold;
                            }
                        }
                        &:hover{
                            color: $yellow-gold;
                        }
                    }
                }
            }
        }
    }
}