/*-----HEADER*/
header{
    nav{
        background-color: $bg-nav;
        div{
            div{
                ul{
                    li{
                        
                        a{
                            @extend %transitions;
                            &:hover{
                                border-bottom: 1.5px solid $yellow-gold;
                            }
                        }
                        .dropdown-menu{
                            background-color: $bg-nav;
                            li{
                                .dropdown-item{
                                    &:hover{
                                        background-color: $bg-nav
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}