/*-----MEDIA QUERY*/
@media screen and (max-width:1200px){
    .contenedor-educacion{
        section{
            .contenedor-videos{
                grid-auto-rows: 300px;
                gap: 20px;
                div{
                    div{
                        @include flex(flex, row, center, start);
                        .caratula{
                            width: 240px;
                            height: 180px;
                        }
                        a{
                            .logo-youtube{
                                top: 75px;
                            }
                        }
                    }
                        
                }
            }
        }
    }
    .registrarse{
        form{
            width: 55%;
        }
    }
}
@media screen and (max-width:1000px) {
    .contenido-principal {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 80vh auto auto ;
        grid-template-areas: 
        "hero"
        "bienvenidos"
        "noticias"
        ;
        .noticias{
            width: 60%;
            margin: 20px auto;
            border: 1px solid $border;
        }
    }
    .contenedor-educacion{
        section{
            .contenedor-videos{
                grid-template-columns: repeat(2, 1fr);
                grid-auto-rows: auto;
                div{
                    div{
                        .caratula{
                            width: 260px;
                            height: 200px;
                        }
                    }      
                }
            }
        }
    }
    .contactenos{
        .encabezado-contactenos{
            div{
                width: 60%;
            }
        }  
        form{
            width: 60%;
        }    
    }
}

@media screen and (max-width:992px){
    header{
        nav{
            background-color: $bg-nav;
            div{
                div{
                    ul{
                        li{
                            
                            a{
                                &:hover{
                                    border-bottom: none
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:800px){
    .contenido-principal{
        .hero{
            div{
                h1{
                width: 90%;
                text-align: center;
                font-size: nth($fuentes, 2 );
                }
            }
        }
    }
    .contactenos{
        .encabezado-contactenos{
            flex-direction: column;
            div{
                width: 80%;
                margin-top: 16px;
            }
        }
        form{
            width: 70%;
        }
    }
    .login{
        flex-direction: column;
        .eslogan{
            h1{
                margin-bottom: 0px;
            }
        }
    }
    .aviso-registro{
        div{
            width: 50%;
        }
    }
    .registrarse{
        form{
            width: 70%;
        }
    }
}

@media screen and (max-width:700px){
    header{
        nav{
            .nav-inferior{
                justify-content: center;
                height: 70px;
                img{
                    display: none;
                }
            }
        }
    }
    .contenedor-educacion{
        section{
            .contenedor-videos{
                grid-template-columns: 350px;
                grid-auto-rows: auto;
            }
        }
    }
    .contenido-principal{
        .bienvenidos-nosotros{
            .bienvenidos{
                img{
                    height: 400px;
                }
            }
        }
    }
}

@media screen and (max-width:650px){
    header{
        nav{
            .nav-superior{
                p{
                    font-size: nth($fuentes, 4);
                }
                ul{
                    li{
                        padding: 5px 10px;
                    }
                }
            }
            .nav-inferior{
                height: auto;
                ul{
                    flex-direction: column;
                    li{
                        padding: 8px 0px;
                        a{
                            font-size: nth($fuentes, 4);
                        }
                    }
                }
            }
        }
    }
    .contenido-principal{
        .bienvenidos-nosotros{
            .bienvenidos{
                flex-direction: column;
                div{
                    width: 90%;
                    text-align:center;
                    h2{
                        margin: 48px 0px 20px 0px;
                        font-size: nth($fuentes, 3);
                    }
                    p{
                        margin-bottom: 20px;
                        font-size: nth($fuentes,4 ) - 2px;
                    }
                }
                img{
                    width: 60%;
                }
            }
        }
        .noticias{
            width: 70%;
            h2{
                font-size: nth($fuentes, 3);
            }
            div{
                a{
                    font-size: nth($fuentes, 4);
                }
                p{
                    font-size: nth($fuentes, 4) - 2px;
                }
            }
        }
    }
    .contenedor-registro-trades{
        h1{
            font-size: nth($fuentes, 3);
        }
        form{
            .seccion{
                h2{
                    font-size: nth($fuentes, 4);
                }
                div{
                    div{
                        label{
                            font-size: nth($fuentes, 4) - 2px;
                        }
                        select{
                            font-size: nth($fuentes, 4) - 2px;
                        }
                    }
                }
            }
        }
        section{
            p{
                font-size: nth($fuentes, 4) - 2px;
            }
        }
    }
    .contenedor-educacion{
        h1 {
            font-size: nth($fuentes, 2);
        }
        section{
            h2{
                font-size: nth($fuentes, 3);
            }
        }
    }
    .contactenos{
        .encabezado-contactenos{
            div{
                h1{
                    font-size: nth($fuentes, 3);
                }
                p{
                    font-size: nth($fuentes, 4) - 2px;
                }
            }
        }
        form{
            div{
                label{
                    font-size: nth($fuentes, 4) - 2px;
                }
            }
        }
    }
    .login{
        height: 200px;
        .contenedor-login{
            @include flex(flex, column, center, center);
            input{
                margin-bottom: 8px;
            }
            .conectado{
                input{
                    margin-bottom: 0;
                }
            }
        }
    }
    .aviso-registro{
        div{
            width: 70%;
        margin: 0px auto;
            h2{
                background-color: $bg-subtititles;
                padding: 5px;
                opacity: 90%;
                font-size: nth($fuentes, 4);
                font-weight: bold;
                border-radius: 12px 0 12px 0;
            }
        }
    }
    .registrarse{
        h1{
            font-size: nth($fuentes, 3);
        }
        form{
            div{
                label{
                    font-size: nth($fuentes, 4) - 2px;
                }
                select{
                    font-size: nth($fuentes, 4) - 2px;
                }
            }
        }
    }
    footer{
        flex-direction: column;
        ul{
            margin: 10px 0px 20px 0px;
            li{
                text-align: center;
            }
        }
    }
}

@media screen and (max-width:600px){
    .contenedor-registro-trades{
        h1{
            font-size: nth($fuentes, 3);
        }
        form{
            .seccion{
                h2{
                    font-size: nth($fuentes, 4);
                    width: 100%;
                    text-align: center;
                }
                div{
                    display: grid;
                    grid-template-columns: repeat(2,1fr);
                    grid-auto-rows: 70px;
                }
            }
        }
    }
    .registrarse{
        h1{
            width: 90%;
        }
        form{
            width: 90%;
        }
    }
}

@media screen and (max-width:500px){
    .login{
        .eslogan{
            h1{
                font-size: nth($fuentes, 2);
            }
            h3{
                font-size: nth($fuentes, 4);
            }
        }
    }
    .aviso-registro{
        div{
            width: 90%;
            h2{
                font-size: nth($fuentes, 4);
            }
        }
    }
}

@media (max-height:450px){
    .aviso-registro{
        height: 350px;
    }
}

@media screen and (max-width:400px){
    .contenedor-educacion{
        section{
            .contenedor-videos{
                grid-template-columns: 300px;
                }
            }
        }
    .contactenos{
        form{
            width: 90%;
        }
    }
}

@media screen and (max-width:380px){
    header{
        nav{
            .nav-superior{
                justify-content: end;
                p{
                    display: none;
                }
            }
        }
    }
    .contenido-principal{
        .hero{
            div{
                width: 80%;
            }
        }
    }
    .contenedor-registro-trades{
        form{
            .seccion{
                div{
                    display: grid;
                    grid-template-columns: repeat(1,1fr);
                    grid-auto-rows: 70px;
                }
            }
        }
    }
}