// -----VARIABLES
$color-title: #1d1a16;
$color-p-subtit:#787878;
$bg-subtititles:#e4e8eb;
$yellow-gold:#d8ba8e;
$border:#9e9e9e;
$white: #ffffff;
$black: #000000;
$color-buttom: #00ADB5;
$bg-nav:#323b42;

// -----LISTAS
$fuentes:
    26px,
    22px,
    18px,
    16px;

// -----EXTENDS
%transitions{
transition-duration: 0.5s;
transition-timing-function: ease-out;
};

// -----MIXIN
@mixin flex ($flex, $direction, $justify, $aling){
    display: $flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $aling;
};