/*-----Variables */
$color-title: #1d1a16;
$color-p-subtit:#787878;
$bg-subtititles:#e4e8eb;
$yellow-gold:#d8ba8e;
$border:#9e9e9e;
$white: #ffffff;
$black: #000000;
$color-buttom: #00ADB5;
$bg-nav:#323b42;
$sm:16px;
$md:18px;
$lg:22px;
$h1:26px;